*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


header {
    height: 6rem;
    width: 100vw;
    display: flex;
    border-bottom: 0.2rem solid gray;
    position: fixed;
    z-index: 1;
    background: white;
}

.logo__header {
    width: 10vw;
    height: 6rem;
}

.logo__img {
    height: 100%;
    width: 100%;
}

.searchbar {
    width: 70vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar>input {
    width: 20rem;
    height: 2rem;
    border-radius: 3rem;
}


.buttonsheader {
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.selectbutton1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    width: 6rem;
    border-radius: 5rem;
}

.selectbutton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: orangered;
    width: 6rem;
    border-radius: 5rem;
}

.selectbutton3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    color: gray;
}

.mainblok {
    display: flex;
}

.infobloklinks {
    margin-top: 6rem;
    width: 20%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.2rem solid gray;
    border-right: 0.2rem solid gray;
}

.aanbevolentitel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 6rem;
    margin: 0.5rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.aanbevolen {
    width: 16rem;
    height: 6rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.aanbevolenr {
    width: 16rem;
    height: 6rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.scrollblok {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.infoblokrechts {
    margin-top: 6.5rem;
    margin-right: 1rem;
    width: 20%;
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2rem solid gray;
    border-radius: 2rem;
}

.infoblokrechts>div>img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}


.container {
    margin-top: 6rem;
}

.post {
    width: 40rem;
    height: 30rem;
    display: flex;
    border: 0.1rem solid black;
    margin: 4rem;
    border-radius: 2rem;
}

.post_avatar{
    display:flex;
    margin-top:1rem;
    margin-bottom:2rem;
    margin-left:2rem;
    align-items:center;
}

.post_avatar > img{
    width:4rem;
    height:4rem;
    border:0.1rem solid black;
    border-radius:4rem;
}

.name{
    font-size:1.2rem;
    margin-left:1rem;
}

.post_image > img{
    width:26rem;
    height:16rem;
    border-radius:1rem;
    margin-left:7rem;
    margin-top:2rem;
}

.post_image{
    display:flex;
    flex-direction:column;
}

.text{
    font-size:1.2rem;
    margin-left:1rem;
}
